.color-GET,
.color-200 {
  @apply dark:bg-green-400 bg-green-300 dark:text-white text-black;
}

.color-POST,
.color-PUT,
.color-PATCH {
  @apply dark:bg-yellow-500 bg-yellow-300 text-black;
}

.color-DELETE,
.color-403,
.color-401,
.color-400,
.color-404 {
  @apply dark:bg-red-400 bg-red-300 dark:text-white text-black;
}

.color-308 {
  @apply dark:bg-purple-400 bg-purple-300 dark:text-white text-black;
}

.scroll-styled {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.300') transparent;
  scrollbar-gutter: stable;
}

.scroll-styled::-webkit-scrollbar {
  width: 0.75rem;
}

.scroll-styled::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-styled::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.300');
}

@media (hover: hover) {
  .scroll-styled:hover::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: theme('colors.gray.400');
    background-clip: content-box;
  }
}
